In [11]:
with open ('./data/One.txt') as my_text:
    a = my_text.read()
#     b = my_text.readlines()

In [5]:
a

'This is a story about dogs\nour canine pets\nDogs are furry animals\n'

In [6]:
print(a)

This is a story about dogs
our canine pets
Dogs are furry animals

In [10]:
b

['This is a story about dogs\n',
 'our canine pets\n',
 'Dogs are furry animals\n']

In [12]:
a.lower().split()

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

### Bag of Words

Build a vocabulary.

In [14]:
with open ('./data/Two.txt') as my_text:
    a = my_text.read()
a.lower().split()

['this',
 'story',
 'is',
 'about',
 'surfing',
 'catching',
 'waves',
 'is',
 'fun',
 'surfing',
 'is',
 'a',
 'popular',
 'water',
 'sport']

In [15]:
with open ('./data/One.txt') as my_text:
    words_one = my_text.read().lower().split()
    unique_one = set(words_one)

In [17]:
# duplicates removed
unique_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [18]:
with open ('./data/Two.txt') as my_text:
    words_two = my_text.read().lower().split()
    unique_two = set(words_two)

In [19]:
all_unique_words = set()

In [20]:
all_unique_words.update(unique_one)

In [21]:
all_unique_words.update(unique_two)

In [22]:
all_unique_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [25]:
full_vocab = dict()
i = 0
for word in all_unique_words:
    full_vocab[word] = i
    i = i + 1

In [26]:
full_vocab

{'furry': 0,
 'about': 1,
 'waves': 2,
 'a': 3,
 'water': 4,
 'are': 5,
 'story': 6,
 'fun': 7,
 'sport': 8,
 'canine': 9,
 'is': 10,
 'surfing': 11,
 'animals': 12,
 'our': 13,
 'pets': 14,
 'dogs': 15,
 'catching': 16,
 'popular': 17,
 'this': 18}

In [27]:
one_freq = [0] * len(full_vocab)
two_freq = [0] * len(full_vocab)
all_words = [''] * len(full_vocab)

In [28]:
with open ('./data/One.txt') as f:
    one_text = f.read().lower().split()

In [29]:
for word in one_text:
    word_index = full_vocab[word]
    one_freq[word_index] += 1

In [30]:
one_freq

[1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 2, 0, 0, 1]

In [31]:
with open ('./data/Two.txt') as f:
    two_text = f.read().lower().split()

In [32]:
for word in two_text:
    word_index = full_vocab[word]
    two_freq[word_index] += 1

In [34]:
two_freq

[0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 3, 2, 0, 0, 0, 0, 1, 1, 1]

In [35]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [36]:
for word in full_vocab:
    word_index = full_vocab[word]
    all_words[word_index] = word

In [37]:
all_words

['furry',
 'about',
 'waves',
 'a',
 'water',
 'are',
 'story',
 'fun',
 'sport',
 'canine',
 'is',
 'surfing',
 'animals',
 'our',
 'pets',
 'dogs',
 'catching',
 'popular',
 'this']

In [38]:
import pandas as pd

In [39]:
# bag of words
bow = pd.DataFrame(data=[one_freq, two_freq],
             columns=all_words)

bow

,furry,about,waves,a,water,are,story,fun,sport,canine,is,surfing,animals,our,pets,dogs,catching,popular,this
0,1,1,0,1,0,1,1,0,0,1,1,0,1,1,1,2,0,0,1
1,0,1,1,1,1,0,1,1,1,0,3,2,0,0,0,0,1,1,1