## Section 2: Python Crash Course

### Part 1

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [6]:
1+1

2

In [7]:
1/2

0.5

In [8]:
2 ** 4

16

In [9]:
4 % 2

0

In [10]:
5 % 2

1

In [11]:
(2 + 3) * (5 + 5)

50

In [12]:
name_of_var = 2

In [14]:
x = 1
y = 2

In [15]:
x + y

3

In [16]:
'strings'

'strings'

In [17]:
"double quotes"

'double quotes'

In [18]:
"I don't like that"

"I don't like that"

In [19]:
print("Hello")

Hello

In [21]:
print("My name is {}.".format('Paul'))

My name is Paul.

In [22]:
print("My name is {} and number is {}.".format('Paul', '88'))

My name is Paul and number is 88.

In [23]:
print("My name is {x} and number is {y}.".format(x='Paul', y='88'))

My name is Paul and number is 88.

In [24]:
print("My name is {x} and number is {x}-{y}.".format(x='Paul', y='88'))

My name is Paul and number is Paul-88.

In [25]:
# lists
[1, 2, 3]
['a', 'b', 'c']
[1, 'a', False]

[1, 'a', False]

In [27]:
my_list = ['a', 'b', 'c']

In [28]:
my_list[0]

'a'

In [29]:
my_list[-1]

'c'

In [30]:
my_list[0] = 'NEW'
my_list

['NEW', 'b', 'c']

In [32]:
my_list.append('d')
my_list

['NEW', 'b', 'c', 'd', 'd']

In [33]:
# nested lists
new_list = [1, 2, [100, 200]]
new_list[2]

[100, 200]

In [34]:
new_list[2][1]

200

In [35]:
# dictionaries or hash tables do not retain any order!
d = {'key1': 'val1', 'key2': 'val2'}

# access dict values using the key names of the key-value pairs
d['key2']

'val2'

In [37]:
# tuples are immutable (cannot change values in the sequence)
t = (1, 2, 3)
t

(1, 2, 3)

In [39]:
# sets: unordered collection of UNIQUE elements
{1, 2, 3, 3, 3, 4, 4, 5}

{1, 2, 3, 4, 5}

### Part 2

In [40]:
1 > 2

False

In [41]:
1 < 5

True

In [42]:
1 >= 4

False

In [43]:
1 == 1

True

In [44]:
'a' == 'A'

False

In [45]:
'b' == 'b'

True

In [46]:
1 != 2

True

In [49]:
(1 == 1) and ('a' == 'a')

True

In [48]:
(1 == 1) and ('a' == 'b')

False

In [50]:
(1 == 1) or ('a' == 'b')

True

In [51]:
(1 == 1) and ('a' == 'b') or (3 == 3)

True

In [1]:
if (1 == 1):
    print("good job")

good job

In [3]:
if (1 == 2):
    print('good')
elif 3 == 3:
    print('2nd condition true')
else:
    print('nope!')

2nd condition true

### Loops

In [5]:
a = [1, 2, 3, 4, 5]
for ai in a:
    print(ai)
    print(ai + ai)

1
2
2
4
3
6
4
8
5
10

In [6]:
# while loop
i = 1
while (i < 5):
    print('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

In [7]:
# range function
x = [1, 2, 3, 4]

In [8]:
list(range(5))  # up to but not including 5

[0, 1, 2, 3, 4]

In [9]:
list(range(2,5))

[2, 3, 4]

In [11]:
for x in range(5):
    print("hi {}".format(x))

hi 0
hi 1
hi 2
hi 3
hi 4

In [12]:
x = [1, 2, 3, 4, 5]
out = []
for xi in x:
    out.append(xi ** 2)
print(out)

[1, 4, 9, 16, 25]

In [13]:
# list comprehension: FLATTEN OUT THE LOOP
[xi ** 2 for xi in x]

[1, 4, 9, 16, 25]

### Part 3

In [22]:
# functions

def my_func(name='NO NAME'):
    '''
    This prints out the username.
    '''
    print('hello world, I am ' + name)

In [20]:
my_func('Paul')

hello world, I am Paul

In [21]:
my_func()

hello world, I am NO NAME

In [25]:
my_func  # use shift tab to see your docstring

In [28]:
def square(x):
    res = x ** 2
    print(res)
    return res

In [29]:
result = square(10)

100

In [30]:
type(result)

int

In [31]:
# lambda expressions: quick and easy one time use function
def times_two(var):
    return (var * 2)

In [32]:
times_two(10)

20

In [33]:
lambda var: (var*2)

In [34]:
# strings

temp = "Hello, my name is Paul."
temp.lower()

'hello, my name is paul.'

In [35]:
temp.upper()

'HELLO, MY NAME IS PAUL.'

In [36]:
temp.split()

['Hello,', 'my', 'name', 'is', 'Paul.']

In [39]:
tweet = 'hello #sports'
# tweet.split('#')
tweet.split('#')[-1]

'sports'

In [40]:
# dictionary
d = {'k1':'v1', 'k2':'v2'}

In [41]:
d.keys()

dict_keys(['k1', 'k2'])

In [42]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [45]:
my_list = [1, 2, 3]
last = my_list.pop()
my_list

[1, 2]

In [46]:
last

3

In [47]:
my_list = [1, 2, 3]
first = my_list.pop(0)

my_list

[2, 3]

In [48]:
first

1

In [49]:
# check if item is inside of a list
'x' in [1,2,3]

False

In [50]:
1 in [1, 2, 3]

True

In [51]:
2 in my_list

True