<hr style="border:5px solid #108999"> </hr>

# Additional Python Tools <hr style="border:4.5px solid #108999"> </hr>

## Using the .format() Method

Consider the following string.

In [1]:
"{} expect their next year's sales of Q{} to {}."

"{} expect their next year's sales of Q{} to {}."

Use the **.format()** method to substitute the pairs of braces in the string with the following three values, thus obtaining information about the sales of Company A for the third quarter of next year:
<br>'Company A'
<br>3
<br>'increase'

In [1]:
print("{x} expects their next year's sales of Q{y} to {z}.".format(x='Company A', y='3', z='increase') )

Company A expects their next year's sales of Q3 to increase.

Execute the next cell to create three variables that store information about companies, quarters and sales performance predictions, respectively.

In [2]:
companies = ['Company A', 'Company B']
quarter = [1, 2, 3, 4]
sales_performance_prediction = ['increase', 'decrease', 'remain the same']

Obtain the same output as above while referring to the three lists you just created. Help yourself with using appropriate indexing.
<br>Here's the output you need to aim for as a reference.
<br>"Company A expect their next year's sales of Q3 to increase."

In [3]:
print("{x} expects their next year's sales of Q{y} to {z}.".format(x=companies[0], y=quarter[2], z=sales_performance_prediction[0]) )

Company A expects their next year's sales of Q3 to increase.

Feel free to experiment with the same line of code while referencing different values from the three lists that have been given.

Here's an example:

In [4]:
"{} expect their next year's sales of Q{} to {}.".format(companies[1], quarter[0], sales_performance_prediction[2])

"Company B expect their next year's sales of Q1 to remain the same."

## Iterating Over Range Objects, <br><br> Nested For Loops - Introduction, <br><br> Triple Nested For Loops

Create a 'range' object with a stop value of 10. 
Do this operation twice - once without indicating a start value, and then by indicating the start value of 0.

In [7]:
range(10)

range(0, 10)

In [6]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

Turn this 'range' object into a list of values.

In [8]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Obtain all integers from 0 to 9 again, this time using a for-loop with a range() function. Let Python display the values in the output vertically.

In [9]:
for i in range(10):
    print(i, end="\n")

0
1
2
3
4
5
6
7
8
9

Repeat the same task, this time printing the values from the output on the same line.

In [10]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [11]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

In [12]:
for prod in products_on_sale:
    for price in sale_prices:
        print("Product {x} costs ${y}".format(x=prod, y=price))

Product Chair_Type_1 costs $100
Product Chair_Type_1 costs $120
Product Chair_Type_1 costs $135
Product Chair_Type_1 costs $150
Product Chair_Type_2 costs $100
Product Chair_Type_2 costs $120
Product Chair_Type_2 costs $135
Product Chair_Type_2 costs $150
Product Chair_Type_3 costs $100
Product Chair_Type_3 costs $120
Product Chair_Type_3 costs $135
Product Chair_Type_3 costs $150
Product Chair_Type_4 costs $100
Product Chair_Type_4 costs $120
Product Chair_Type_4 costs $135
Product Chair_Type_4 costs $150

Consider the following list with data, which is our third for this exercise. It represents the possible quantities in which the relevant items can be put on sale.

In [13]:
quantities = [1000, 1500, 1300]

Create a triple nested loop that shows the potential revenue generated from each chair type. Use iterator variables with more meaningful names than letters such as i, j, k.
<br>Present two versions of the nested loop. Let the first one return a Python list where the chair type is the first element, while the potential revenue is the second element. 
<br>Then, let the second loop return a more presentable output, where the quantity and potential revenue have been explicitly stated.

In [14]:
for prod in products_on_sale:
    for price in sale_prices:
        for amt in quantities:
            revenue = amt * price
            print("Product {x} revenue will be ${z}".format(x=prod, z=revenue))

Product Chair_Type_1 revenue will be $100000
Product Chair_Type_1 revenue will be $150000
Product Chair_Type_1 revenue will be $130000
Product Chair_Type_1 revenue will be $120000
Product Chair_Type_1 revenue will be $180000
Product Chair_Type_1 revenue will be $156000
Product Chair_Type_1 revenue will be $135000
Product Chair_Type_1 revenue will be $202500
Product Chair_Type_1 revenue will be $175500
Product Chair_Type_1 revenue will be $150000
Product Chair_Type_1 revenue will be $225000
Product Chair_Type_1 revenue will be $195000
Product Chair_Type_2 revenue will be $100000
Product Chair_Type_2 revenue will be $150000
Product Chair_Type_2 revenue will be $130000
Product Chair_Type_2 revenue will be $120000
Product Chair_Type_2 revenue will be $180000
Product Chair_Type_2 revenue will be $156000
Product Chair_Type_2 revenue will be $135000
Product Chair_Type_2 revenue will be $202500
Product Chair_Type_2 revenue will be $175500
Product Chair_Type_2 revenue will be $150000
Product Chair_Type_2 revenue will be $225000
Product Chair_Type_2 revenue will be $195000
Product Chair_Type_3 revenue will be $100000
Product Chair_Type_3 revenue will be $150000
Product Chair_Type_3 revenue will be $130000
Product Chair_Type_3 revenue will be $120000
Product Chair_Type_3 revenue will be $180000
Product Chair_Type_3 revenue will be $156000
Product Chair_Type_3 revenue will be $135000
Product Chair_Type_3 revenue will be $202500
Product Chair_Type_3 revenue will be $175500
Product Chair_Type_3 revenue will be $150000
Product Chair_Type_3 revenue will be $225000
Product Chair_Type_3 revenue will be $195000
Product Chair_Type_4 revenue will be $100000
Product Chair_Type_4 revenue will be $150000
Product Chair_Type_4 revenue will be $130000
Product Chair_Type_4 revenue will be $120000
Product Chair_Type_4 revenue will be $180000
Product Chair_Type_4 revenue will be $156000
Product Chair_Type_4 revenue will be $135000
Product Chair_Type_4 revenue will be $202500
Product Chair_Type_4 revenue will be $175500
Product Chair_Type_4 revenue will be $150000
Product Chair_Type_4 revenue will be $225000
Product Chair_Type_4 revenue will be $195000

In [16]:
for prod in products_on_sale:
    for price in sale_prices:
        for amt in quantities:
            print("Product {x} price is ${y} and we will sell a quantity of {z}.".format(x=prod, y=price, z=amt))

Product Chair_Type_1 price is $100 and we will sell a quantity of 1000.
Product Chair_Type_1 price is $100 and we will sell a quantity of 1500.
Product Chair_Type_1 price is $100 and we will sell a quantity of 1300.
Product Chair_Type_1 price is $120 and we will sell a quantity of 1000.
Product Chair_Type_1 price is $120 and we will sell a quantity of 1500.
Product Chair_Type_1 price is $120 and we will sell a quantity of 1300.
Product Chair_Type_1 price is $135 and we will sell a quantity of 1000.
Product Chair_Type_1 price is $135 and we will sell a quantity of 1500.
Product Chair_Type_1 price is $135 and we will sell a quantity of 1300.
Product Chair_Type_1 price is $150 and we will sell a quantity of 1000.
Product Chair_Type_1 price is $150 and we will sell a quantity of 1500.
Product Chair_Type_1 price is $150 and we will sell a quantity of 1300.
Product Chair_Type_2 price is $100 and we will sell a quantity of 1000.
Product Chair_Type_2 price is $100 and we will sell a quantity of 1500.
Product Chair_Type_2 price is $100 and we will sell a quantity of 1300.
Product Chair_Type_2 price is $120 and we will sell a quantity of 1000.
Product Chair_Type_2 price is $120 and we will sell a quantity of 1500.
Product Chair_Type_2 price is $120 and we will sell a quantity of 1300.
Product Chair_Type_2 price is $135 and we will sell a quantity of 1000.
Product Chair_Type_2 price is $135 and we will sell a quantity of 1500.
Product Chair_Type_2 price is $135 and we will sell a quantity of 1300.
Product Chair_Type_2 price is $150 and we will sell a quantity of 1000.
Product Chair_Type_2 price is $150 and we will sell a quantity of 1500.
Product Chair_Type_2 price is $150 and we will sell a quantity of 1300.
Product Chair_Type_3 price is $100 and we will sell a quantity of 1000.
Product Chair_Type_3 price is $100 and we will sell a quantity of 1500.
Product Chair_Type_3 price is $100 and we will sell a quantity of 1300.
Product Chair_Type_3 price is $120 and we will sell a quantity of 1000.
Product Chair_Type_3 price is $120 and we will sell a quantity of 1500.
Product Chair_Type_3 price is $120 and we will sell a quantity of 1300.
Product Chair_Type_3 price is $135 and we will sell a quantity of 1000.
Product Chair_Type_3 price is $135 and we will sell a quantity of 1500.
Product Chair_Type_3 price is $135 and we will sell a quantity of 1300.
Product Chair_Type_3 price is $150 and we will sell a quantity of 1000.
Product Chair_Type_3 price is $150 and we will sell a quantity of 1500.
Product Chair_Type_3 price is $150 and we will sell a quantity of 1300.
Product Chair_Type_4 price is $100 and we will sell a quantity of 1000.
Product Chair_Type_4 price is $100 and we will sell a quantity of 1500.
Product Chair_Type_4 price is $100 and we will sell a quantity of 1300.
Product Chair_Type_4 price is $120 and we will sell a quantity of 1000.
Product Chair_Type_4 price is $120 and we will sell a quantity of 1500.
Product Chair_Type_4 price is $120 and we will sell a quantity of 1300.
Product Chair_Type_4 price is $135 and we will sell a quantity of 1000.
Product Chair_Type_4 price is $135 and we will sell a quantity of 1500.
Product Chair_Type_4 price is $135 and we will sell a quantity of 1300.
Product Chair_Type_4 price is $150 and we will sell a quantity of 1000.
Product Chair_Type_4 price is $150 and we will sell a quantity of 1500.
Product Chair_Type_4 price is $150 and we will sell a quantity of 1300.

## List Comprehensions

Execute the code cell below to create the following three lists: **products_on_sale**, **sale_prices**, **quantities**

In [17]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the **products_on_sale**, **sale_prices** and **quantities** lists:

In [18]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

Use a list comprehension to obtain the same output. Store it in a variable called **sales_revenue**. <br/>
Make sure you refrain from obtaining any inexistent "None" values.

In [19]:
sales_revenue = [[chair_type, price*quantity] for chair_type in products_on_sale for price in sale_prices for quantity in quantities]

# for chair_type in products_on_sale:
#     for price in sale_prices:
#         for quantity in quantities:
#             print ([chair_type, price*quantity])

In [20]:
sales_revenue

[['Chair_Type_1', 100000],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 130000],
 ['Chair_Type_1', 120000],
 ['Chair_Type_1', 180000],
 ['Chair_Type_1', 156000],
 ['Chair_Type_1', 135000],
 ['Chair_Type_1', 202500],
 ['Chair_Type_1', 175500],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 225000],
 ['Chair_Type_1', 195000],
 ['Chair_Type_2', 100000],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 130000],
 ['Chair_Type_2', 120000],
 ['Chair_Type_2', 180000],
 ['Chair_Type_2', 156000],
 ['Chair_Type_2', 135000],
 ['Chair_Type_2', 202500],
 ['Chair_Type_2', 175500],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 225000],
 ['Chair_Type_2', 195000],
 ['Chair_Type_3', 100000],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 130000],
 ['Chair_Type_3', 120000],
 ['Chair_Type_3', 180000],
 ['Chair_Type_3', 156000],
 ['Chair_Type_3', 135000],
 ['Chair_Type_3', 202500],
 ['Chair_Type_3', 175500],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 225000],
 ['Chair_Type_3', 195000],
 ['Chair_Type_4', 100000],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 130000],
 ['Chair_Type_4', 120000],
 ['Chair_Type_4', 180000],
 ['Chair_Type_4', 156000],
 ['Chair_Type_4', 135000],
 ['Chair_Type_4', 202500],
 ['Chair_Type_4', 175500],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 225000],
 ['Chair_Type_4', 195000]]

**List comprehensions with Conditionals**
<br> <br> **Conditional on the iterable**

Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

In [21]:
[i * 10 for i in range(1, 11, 1) if i % 2 == 0]

[20, 40, 60, 80, 100]

We consider the previous answer as the Pythonic way to obtain the output because it involved the use of a list comprehension.
Can you think of a way to obtain identical output in the "Non-Pythonic" way, i.e. by using a double nested loop?

In [22]:
for i in range(1, 11):
    if (i % 2 == 0):
        print(i * 10, end=" ")

20 40 60 80 100

**Conditional on the output**

Return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, and "None" if that number is odd.

In [23]:
for i in range(1, 11):
    if (i % 2 == 0):
        print(i * 10, end=" ")
    else:
        print(None, end=" ")

None 20 None 40 None 60 None 80 None 100

## Anonymous Functions

Define a function called **multiply_by_10** that will return a value ten times bigger than the argument.

In [24]:
def mult10(x):
    return x * 10

Apply **multiply_by_10** to the argument of 5. Clearly, you should obtain 50.

In [25]:
mult10(5)

50

#### Lambda Functions

This time, create **multiply_by_10** as a Lambda funciton. Execute it with an argument of 7.

In [26]:
(lambda x: x * 10) (7)

70

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

In [27]:
(lambda x, y: x * y) (4, 20)

80